* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

li {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.el-message {
  z-index: 5000 !important;
}


@font-face {
  font-family: "JDZY";
  src: url('./FZZhuoYTJF.TTF');
  font-weight: normal;
  font-style: normal;
}

.el-select-dropdown {
  background: #0c1c37 !important;
  border: none;
  border: 1px solid #00e4ff;
  font-family: "JDZY";
}
.el-menu--horizontal .el-menu .el-menu-item.is-active {
  color: #00e4ff !important;
}
.el-select-dropdown__item.selected {
  color: #00e4ff;
  font-size: 16px;
  font-family: "JDZY";
  font-weight: normal;
}

.el-select-dropdown__item.hover {
  background: #172b4b !important;
}
.el-select-dropdown__item {
  color: #FFFFFF;
  font-size: 16px;
  font-family: "JDZY";
}
.el-input__inner {
  color: #FFFFFF;  
}

.el-popper[x-placement^="bottom"] .popper__arrow::after {
  border-bottom-color: #00e4ff !important;
  
}

.el-menu--horizontal>.el-submenu .el-submenu__title {
  font-size: 20px;
  color: #FFFFFF;
  font-family: "JDZY";
}

.el-menu--popup {
  background: #0c1c37;
}
.el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title {
  background: #0c1c37 !important;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  font-family: "JDZY";
}
.el-menu-item:hover {
  color: #00e4ff !important;
}
.el-menu {
  background-color: transparent !important;
}
.el-loading-spinner .path {
  stroke: #00FFFF !important;
}